/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  background-color:  lightgrey;
  font-weight: lighter;
}


ul {
  display: inline-flex;
  margin: 4px 4px;
  padding: 0px;
  align-items: center;
}

li {
  display: inline-flex ;
  text-align: center;
  align-items:  center;
  justify-content: center;
  background-color : navy;
  color : white;
  font-weight : bold;
  padding : 8px 8px;
  margin: 4px 0px;
  height:  16px;
  width: 16px;
}

a {
   color: grey;
   background-color: navy;
   padding:  4px 12px;
   color: white;
   border-radius: 6px;
   text-decoration: none;
   margin-bottom: 12 px;
 }

 .page {
  text-align: center;
  align-items:  center;
  justify-content: center;
 }


